@charset "UTF-8";

body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    font: normal 2.5em Arial;
}

section {
    padding: 5px;
    margin: auto;
    background-color: lightcoral;
    width: 60vw;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.363);
}

#saida {
    color: white;
    font: Normal 1.3em Arial;
}

img {
    height: 315px;
}

footer {
    color: black;
    font: bold 1.5em Arial;
}