@charset "UTF = 8";

body {
    text-align: center;
    background-color: lightskyblue;
    font: normal 1.1em Arial;
}

button {
    padding: 20px;
    font-size: 1.1em;
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    transition-duration: .5s;
}