@charset "UTF=8";

body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

section {
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
    margin: auto;
    width: 450px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.289);
}

#flista {
    margin-top: 15px;
    width: 150px;
}

#botao, #finish {
    margin: 2px;
    background-color: gray;
    color: white;
}

#botao:hover, #finish:hover {
    background-color: black;
    transition-duration: .5s;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
}