body {
    background-color: lightgreen;
    font: normal 1em Arial;
}

header {
    margin: auto;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.234);
    width: 550px;
}

h1 {
    padding: 10px;
    text-align: center;
    text-decoration: underline rgba(0, 0, 0, 0.467);
}

section {
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.234);
    max-height: 410px;
    max-width: 650px;
}

#itxtano {
    background-color: lightsteelblue;
    padding: 1px;
}

#botao {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}

#botao:hover {
    transition: .2s;
    background-color: rgb(89, 209, 89);
    color: white;
}


#imagem {
    height: 310px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}