@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=Single+Day&display=swap');

body {
    background-color: lightcoral;
    text-align: center;
}

h1 {
    font-family: 'Sevillana', cursive;
    font-size: 1.7em;
    text-align: center;
}

button {
    padding: 25px;
}

p {
    font: 1.2em normal Arial;
}
