body {
    background-color: lightgreen;
    text-align: center;
    font: 1.1em Arial;
}

#ivalue {
    background-color: lightgray;
    border: 1px solid black;
}

#verificadorBtn {
    background-color: rgb(99, 99, 99);
    border: none;
    padding: 2px;
    color: white;
}

#verificadorBtn:hover {
    background-color:white;
    color: rgb(99, 99, 99);
    transition: .3s;
}