body {
    background-color: lightsalmon;
    text-align: center;
    font: 1.1em Arial;
}

div {
    margin: auto;
    margin-top: 120px;
    background-color: black;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.379);
    color: white;
}