@charset "UTF = 8";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* font-family: 'VT323', monospace; */
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 5px;
    background-color: tomato;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'VT323', monospace;
    color: black;
    margin-bottom: 30px;
}

p {
    font: normal 1em sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.423);
}

form {
    margin: 25px;
}

#valorInicial, #valorfinal {
    margin-bottom: 10px;
}

#botao {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: lightgreen;
    border: none;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.357);
    border-radius: 5px;
}

#botao:hover {
    background-color: rgb(0, 119, 255);
    color: white;
    transition-duration: 0.6s;
}