@charset "UTF=8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(39, 39, 39);
    padding: 5px;
}

header {
    margin: auto;
    margin-top: 15px;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.291);
}

h1 {
    text-align: center;
    font-family: system-ui;
    padding-bottom: 5px;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.285);
    width: 460px;
}

input {
    margin: 10px 2px;
}

#bornUser {
    padding: 2px;
}

#Iverify {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    background-color: rgb(39, 39, 39);
    color: white;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.352);
}

#Iverify:hover {
    color: red;
    transition: .3s;
}

#res {
    padding-top: 20px;
    text-align: center;
}

#people {
    height: 290px;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}